[submodule "mutt/solarized"]
	path = mutt/solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
