<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <false/>

        <key>Label</key>
        <string>io.dfm.checkmail</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/dfm/lib/dotfiles/mutt/checkmail.sh</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/Users/dfm/.mail/checkmail.log</string>

        <key>StandardOutPath</key>
        <string>/Users/dfm/.mail/checkmail.log</string>

        <key>UserName</key>
        <string>dfm</string>

        <key>StartInterval</key>
        <integer>120</integer>
    </dict>
</plist>
