<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <false/>

        <key>Label</key>
        <string>ca.danfm.offlineimap</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/share/python/offlineimap</string>
            <string>-q</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/Users/dfm/offlineimap.log</string>

        <key>StandardOutPath</key>
        <string>/Users/dfm/offlineimap.log</string>

        <key>UserName</key>
        <string>dfm</string>

        <key>StartInterval</key>
        <integer>120</integer>
    </dict>
</plist>
